## PANDAS EXERCISE

There is a client who major in the sales of food items and would like to determine parameter for future prediction (This is on a demand). Below are the parameters to be determined based on the data set provided

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('sales.csv')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Izze,[Clementine],$3.39
1,1,1,Nantucket Nectar,[Apple],$3.39
2,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
3,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
4,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
...,...,...,...,...,...
195,115,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.99
196,116,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",$9.25
197,117,1,Barbacoa Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",$8.99
198,118,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
199,119,1,Chicken Burrito,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49

In [41]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Izze,[Clementine],$3.39
1,1,1,Nantucket Nectar,[Apple],$3.39
2,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
3,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
4,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
5,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
6,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
7,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
8,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
9,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25

In [42]:
#using shape attribute to know how many rows and columns of the dataset
df.shape

(200, 5)

In [43]:
# presenting the columns of the dataset
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [13]:
# a concise summary of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            200 non-null    int64
 1   quantity            200 non-null    int64
 2   item_name           200 non-null    object
 3   choice_description  200 non-null    object
 4   item_price          200 non-null    object
dtypes: int64(2), object(3)
memory usage: 5.5+ KB

In [14]:
# checking missing values
df.isnull().sum()

order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
dtype: int64

In [44]:
# getting descriptive statistics summary
df.describe()

         order_id    quantity
count  200.000000  200.000000
mean    62.025000    1.060000
std     34.527163    0.238083
min      1.000000    1.000000
25%     30.750000    1.000000
50%     64.500000    1.000000
75%     92.250000    1.000000
max    119.000000    2.000000

Group1 - Most of their product are either below or a bit above $10 - We are to determine the below parameters

1. How many products cost more than $10.00?

In [45]:
df['item_price'] = df['item_price'].str.replace('$', '')
df['item_price'] = df['item_price'].astype(float)

<ipython-input-45-4a541ecbb8af>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['item_price'] = df['item_price'].str.replace('$', '')

In [46]:
np.count_nonzero(df.item_price>10.00)

60

2. how many products cost less than $10.00?

In [47]:
np.count_nonzero(df.item_price<10.00)

140

Group 2.
What is the price of each item?

In [48]:
df = df.groupby(by = 'item_name')[['item_price']].min().reset_index()
df

                item_name  item_price
0           Barbacoa Bowl        8.99
1        Barbacoa Burrito        8.99
2   Barbacoa Crispy Tacos        9.25
3     Barbacoa Soft Tacos        8.99
4             Canned Soda        1.09
5       Canned Soft Drink        1.25
6           Carnitas Bowl        8.99
7        Carnitas Burrito        8.99
8     Carnitas Soft Tacos        9.25
9            Chicken Bowl        8.49
10        Chicken Burrito        8.49
11   Chicken Crispy Tacos        8.75
12          Chicken Salad       10.98
13     Chicken Salad Bowl        8.75
14     Chicken Soft Tacos        8.75
15                   Izze        3.39
16       Nantucket Nectar        3.39
17             Steak Bowl        8.99
18          Steak Burrito        8.99
19     Steak Crispy Tacos        9.25
20       Steak Soft Tacos        8.99
21            Veggie Bowl        8.49
22         Veggie Burrito        8.49
23      Veggie Salad Bowl       11.25

sort by the name of the item

In [49]:
df.sort_values(by = 'item_name',ascending=True).reset_index(drop=True)

                item_name  item_price
0           Barbacoa Bowl        8.99
1        Barbacoa Burrito        8.99
2   Barbacoa Crispy Tacos        9.25
3     Barbacoa Soft Tacos        8.99
4             Canned Soda        1.09
5       Canned Soft Drink        1.25
6           Carnitas Bowl        8.99
7        Carnitas Burrito        8.99
8     Carnitas Soft Tacos        9.25
9            Chicken Bowl        8.49
10        Chicken Burrito        8.49
11   Chicken Crispy Tacos        8.75
12          Chicken Salad       10.98
13     Chicken Salad Bowl        8.75
14     Chicken Soft Tacos        8.75
15                   Izze        3.39
16       Nantucket Nectar        3.39
17             Steak Bowl        8.99
18          Steak Burrito        8.99
19     Steak Crispy Tacos        9.25
20       Steak Soft Tacos        8.99
21            Veggie Bowl        8.49
22         Veggie Burrito        8.49
23      Veggie Salad Bowl       11.25

Group 3

1. What was the quantity of the most expensive item ordered?

How many times was a Chicken Burrito ordered?

In [53]:
df = np.count_nonzero(df.item_name == 'Chicken Burrito')
print(df, 'times a Chicken Burrito was ordered')

1 times a Chicken Burrito was ordered

How many times did someone order more than one Canned Soda?